{% extends "base.html" %}

{% block title %}Rejestracja{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>

    <script>
        $.validator.addMethod('validPassword',
            function(value, element, param) {
                if (value != '') {
                    if (value.match(/.*[a-z]+.*/i) == null) {
                        return false;
                    }
                    if (value.match(/.*\d+.*/i) == null) {
                        return false;
                    }
                }

                return true;
            },
            'Must contain at least one letter and one number'
        );

        $(document).ready(function() {
            $('#formSignup').validate({
                rules: {
                    name: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true,
                        remote: '/account/validate-email'
                    },
                    password: {
                        required: true,
                        minlength: 8,
                        validPassword: true
                    }
                },
                messages: {
                    email: {
                        remote: 'email already taken'
                    }
                }
            });

            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });

        });
    </script>

{% endblock %}

{% block body %}


    <div class="container move-under-navbar">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <form method="post" action="/signup/create" id="formSignup">
                    <div class="card shadow-lg mb-5 bg-white rounded">
                        <div class="card-header bg-info card-topic text-center"> Rejestracja </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">account_box</i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="inputName" name="name" placeholder="Nazwa użytkownika"
                                    minlength="6" maxlength="50" required autofocus value="{{ user.name }}">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">email</i>
                                    </span>
                                </div>
                                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Adres email"
                                    minlength="6" maxlength="50" required value="{{ user.email }}">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">lock</i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Hasło"
                                    minlength="8" maxlength="64" required pattern = "^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                                    title="Min. 8 chars, at least one letter and number">
                            </div>
                        </div>

                        <div class="card-footer bg-info text-white ">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-success btn-sm px-2" type="submit">
                                            <i class="material-icons">person_add</i>
                                        </button>
                                        <button class="btn btn-warning btn-sm pl-0 text-button" type="submit">
                                            Zarejestruj się
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}