{% extends "base.html" %}

{% block title %}Rejestracja{% endblock %}

{% block main %}
    <div class="container move-under-navbar">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <form method="post" action="/add-new-user" id="formSignup">
                    <div class="card shadow-lg mb-5 bg-white rounded">
                        <div class="card-header bg-info card-topic text-center"> Rejestracja </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">account_box</i>
                                    </span>
                                </div>
                                <input type="text" class="form-control {{ isValid.name }}" id="inputName" name="name" placeholder="Nazwa użytkownika"
                                    minlength="6" maxlength="50" autofocus value="{{ oldValues.name }}">
                                <div class="invalid-feedback">
                                    {{ warnings.name }}
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">email</i>
                                    </span>
                                </div>
                                <input type="email" class="form-control {{ isValid.email }}" id="inputEmail" name="email" placeholder="Adres email"
                                    minlength="6" maxlength="50" value="{{ oldValues.email }}">
                                <div class="invalid-feedback">
                                    {{ warnings.email }}
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">lock</i>
                                    </span>
                                </div>
                                <input type="password" class="form-control {{ isValid.password }}" id="inputPassword" name="password" placeholder="Hasło"
                                    minlength="8" maxlength="64" pattern = "^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                                    title="Hasło musi zawierać min. 8 znaków w tym przynajmniej jedną literę i cyfrę">
                                <div class="invalid-feedback">
                                    {{ warnings.password }}
                                </div>
                            </div>
                        </div>

                        <div class="card-footer bg-info text-white ">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-success btn-sm px-2" type="submit">
                                            <i class="material-icons">person_add</i>
                                        </button>
                                        <button class="btn btn-warning btn-sm pl-0 text-button" type="submit">
                                            Zarejestruj się
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}