<div class="card-header text-center bg-danger">
    <button class="btn btn-danger btn-block" data-toggle="collapse" data-target="#expenseSettings" type="button">
        <span class="text-button"> Wydatki </span>
    </button>
</div>
<div id="expenseSettings" class="collapse" data-parent="#settings">
    <div class="card-body">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">shop</i>
                </span>
            </div>
            <input type="text" class="form-control form-control-lg" placeholder="Dodaj nową kategorię wydatku"
                aria-label="Add new expense category" aria-describedby="">
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="button">
                    <i class="material-icons">playlist_add</i>
                </button>
            </div>
        </div>
        <label for="editExpenseCategory">Edytuj wybraną kategorię</label>

        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">shop</i>
                </span>
            </div>
            <select class="form-control form-control-lg" id="expenseCategory">

                {% for category in expenseCategories %}
                    <option value={{ category.id }} style="font-style:bold">
                        {{ category.name }}
                    </option>
                    {% if category.expense_limit != null %}
                        <option disabled value='0' class="text-danger" style="font-style:italic; font-style:bold; font-size: 0.6em;">
                            &nbsp;&nbsp;&#8627; Limit: {{ category.expense_limit }} [zł/m-c]
                        </option>
                    {% endif %}
                {% endfor %}

            </select>
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-info" id="expenseCategoryEdit">
                    <i class="material-icons">edit</i>
                </button>
            </div>
            <div class="input-group-append">
                <button  type="button" class="btn btn-outline-danger" id="expenseCategoryRemove">
                    <i class="material-icons">remove_circle</i>
                </button>
            </div>
        </div>
    </div>
</div>