<div class="card-header text-center bg-success">
    <button class="btn btn-success btn-block" data-toggle="collapse" data-target="#incomeSettings" type="button">
        <span class="text-button"> Przychód </span>
    </button>
</div>
<div id="incomeSettings" class="collapse" data-parent="#settings">
    <div class="card-body">
        <div class="input-group mb-3">
            <input type="text" class="form-control form-control-lg" placeholder="Dodaj nową kategorię przychodu"
                aria-label="Add new income category" aria-describedby="">
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="button">
                    <i class="material-icons">playlist_add</i>
                </button>
            </div>
        </div>
        <label for="editIncomeCategory">Edytuj wybraną kategorię</label>
        <div class="input-group mb-3">
            <select class="form-control form-control-lg" id="editIncomeCategory">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>

            <div class="input-group-append">
                <button class="btn btn-outline-info" type="button">
                    <i class="material-icons">edit</i>
                </button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#askSettings" type="button">
                    <i class="material-icons">remove_circle</i>
                </button>
            </div>
        </div>
    </div>
</div>