{% extends "base.html" %}
{% set settings_active = 'active' %}

{% block title %}Ustawienia{% endblock %}

{% block modal %}
    {% include 'Settings/income_modal.html' %}
    {% include 'Settings/expense_modal.html' %}
{% endblock %}

{% block main %}
<div class="container move-under-navbar">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card shadow-lg mb-5 bg-white rounded">
                <div class="card-header bg-info card-topic text-center"> Ustawienia </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <button class="btn btn-success btn-block" data-toggle="modal" data-target="#incomeSettings" type="button">
                            <span class="text-button"> Przychód </span>
                        </button>
                        <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#expenseSettings" type="button">
                            <span class="text-button"> Wydatek </span>
                        </button>
                        <button class="btn btn-primary btn-block mt-5" data-toggle="modal" data-target="#userSettings" type="button">
                            <span class="text-button"> Użytkownik </span>
                        </button>
                    </div>
                </div>
                <div class="card-footer bg-info text-white">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}