{% extends "base.html" %}
{% set settings_active = 'active' %}

{% block title %}Ustawienia{% endblock %}

{% block modal %}
    {% include 'Settings/askAddModal.html' %}
    {% include 'Settings/askDeleteModal.html' %}
    {% include 'Settings/askEditModal.html' %}
    {% include 'Settings/successModal.html' %}
    {% include 'Settings/failModal.html' %}
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            var elementSource = "";
            var elementName = "";
            var elementId = 0;
            $("#incomeCategoryAdd").click(function () {
                elementSource = "income";
                $("#askAddModalBody").val($.trim($("#incomeCategoryName").val()));
                elementName = $.trim($("#incomeCategoryName").val());
                $("#askAdd").modal();
            });
            $("#incomeCategoryRemove").click(function () {
                elementSource = "income";
                $("#askDeleteModalBody").val($.trim($("#incomeCategory option:selected").text()));
                elementId = $("#incomeCategory option:selected").val();
                $("#askDelete").modal();
            });
            $("#incomeCategoryEdit").click(function () {
                elementSource = "income";
                $("#askEditModalBody").val($.trim($("#incomeCategory option:selected").text()));
                elementId = $("#incomeCategory option:selected").val();
                $('#askEdit').on('shown.bs.modal', function () {
                    $('#askEditModalBody').focus();
                })
                $("#askEdit").modal();
            });
            $("#expenseCategoryRemove").click(function () {
                elementSource = "expense";
                $("#askDeleteModalBody").val($.trim($("#expenseCategory option:selected").text()));
                elementId = $("#expenseCategory option:selected").val();
                $("#askDelete").modal();
            });
            $("#paymentMethodRemove").click(function () {
                elementSource = "payment";
                $("#askDeleteModalBody").val($.trim($("#paymentMethod option:selected").text()));
                elementId = $("#paymentMethod option:selected").val();
                $("#askDelete").modal();
            });

            $("#addElement").click(function () {
                $.post(
                    "/element-add",
                    {
                        source: elementSource,
                        name: elementName
                    },
                    function (answer, status) {
                        if (status == "success") {
                            $("#success").find(".modal-body").html(answer);
                            $("#success").modal();
                        } else {
                            $("#fail").modal();
                        }
                    }
                );
            });

            $("#removeElement").click(function () {
                $.post(
                    "/element-remove",
                    {
                        source: elementSource,
                        id: elementId
                    },
                    function(answer, status){
                        if (status == "success")
                        {
                            $("#success").find(".modal-body").html(answer);
                            $("#success").modal();
                        } else {
                            $("#fail").modal();
                        }
                    }
                );
            });

            $("#editElement").click(function () {
                $elementName = $.trim($("#askEditModalBody").val());
                $.post(
                    "/element-edit",
                    {
                        source: elementSource,
                        id: elementId,
                        name: elementName
                    },
                    function (answer, status) {
                        if (status == "success") {
                            $("#success").find(".modal-body").html(answer);
                            $("#success").modal();
                        } else {
                            $("#fail").modal();
                        }
                    }
                );
            });
        });
    </script>
{% endblock %}

{% block main %}
<div class="container move-under-navbar">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card shadow-lg mb-5 bg-white rounded">
                <div class="card-header bg-info card-topic text-center"> Ustawienia </div>
                <div class="card-body">
                    <div id="settings">
                        <div class="card mb-3">
                            {% include 'Settings/income.html' %}
                        </div>
                        <div class="card mb-3">
                            {% include 'Settings/expense.html' %}
                        </div>
                        <div class="card mb-3">
                            {% include 'Settings/payment.html' %}
                        </div>
                        <div class="card mb-3">
                            {% include 'Settings/user.html' %}
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-info text-white">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}