<div class="card-header text-center bg-primary">
    <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#userSettings" type="button">
        <span class="text-button"> Użytkownik </span>
    </button>
</div>
<div id="userSettings" class="collapse" data-parent="#settings">
    <div class="card-body">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">account_box</i>
                </span>
            </div>
            <input type="text" class="form-control form-control-lg" value="{{ user.username }}"
                aria-label="Username" aria-describedby="">
            <div class="input-group-append">
                <button class="btn btn-outline-info" type="button">
                    <i class="material-icons">save</i>
                </button>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">email</i>
                </span>
            </div>
            <input type="email" class="form-control form-control-lg" value="{{ user.email }}"
                aria-label="Email" aria-describedby="">
            <div class="input-group-append">
                <button class="btn btn-outline-info" type="button">
                    <i class="material-icons">save</i>
                </button>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">lock</i>
                </span>
            </div>
            <input type="text" class="form-control form-control-lg" placeholder="Nowe hasło"
                aria-label="Password" aria-describedby="">
            <div class="input-group-append">
                <button class="btn btn-outline-info" type="button">
                    <i class="material-icons">save</i>
                </button>
            </div>
        </div>
        <div class="btn-group ml-3 my-3 float-left">
            <button class="btn btn-danger btn-sm px-2" name="button_reset" type="submit">
                <i class="material-icons">warning</i>
            </button>
            <button class="btn btn-warning btn-sm pl-0 text-button" name="button_reset" type="submit">
                Usuń konto
            </button>
        </div>
        <div class="btn-group mr-3 my-3 float-right">
            <button class="btn btn-success btn-sm px-2" name="button_submit" type="submit">
                <i class="material-icons">save</i>
            </button>
            <button class="btn btn-warning btn-sm pl-0 text-button" name="button_submit" type="submit">
                Zapisz
            </button>
        </div>

    </div>
</div>