{% extends "base.html" %}
{% set incomes_active = 'active' %}

{% block title %}Dodaj przychód{% endblock %}

{% block body %}
<div class="container move-under-navbar">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <form action="/Incomes/create" method="POST">
                <div class="card shadow-lg mb-5 bg-white rounded">
                    <div class="card-header bg-info card-topic text-center"> Dodaj przychód </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">attach_money</i>
                                </span>
                            </div>
                            <input name="amount" type="number" class="form-control" placeholder="Kwota" step="0.01"
                                required>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">calendar_today</i>
                                </span>
                            </div>
                            <input name="date" type="date" id="defaultToday" class="form-control" min="2000-01-01"
                                required>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">shop</i>
                                </span>
                            </div>
                            <select name="category" class="form-control" required>
                                <option disabled value="" selected>Wybierz kategorię</option>
                                <option value=1>Wynagrodzenie</option>
                                <option value=2>Odsetki bankowe</option>
                                <option value=3>Sprzedaż Allegro</option>
                                <option value=4>Inne</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">comment</i>
                                </span>
                            </div>
                            <textarea class="form-control " name="comment" rows=4 cols=45 maxlength=180
                                placeholder="Komentarz (opcjonalnie):"></textarea>
                        </div>
                    </div>

                    <div class="card-footer bg-info text-white">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="btn-group mr-5">
                                    <button class="btn btn-success btn-sm px-2" type="submit">
                                        <i class="material-icons">add_circle</i>
                                    </button>
                                    <button class="btn btn-warning btn-sm pl-0 text-button" type="submit">
                                        Dodaj
                                    </button>
                                </div>
                                <div class="btn-group ml-5">
                                    <button class="btn btn-danger btn-sm px-2" type="reset">
                                        <i class="material-icons">cancel</i>
                                    </button>
                                    <button class="btn btn-warning btn-sm pl-0 text-button" type="reset">
                                        Wyczyść
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</main>
{% endblock %}