<!DOCTYPE html>
<html lang="pl">

<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    {% include 'head.html' %}
</head>

<body {% block body_onload %}{% endblock %}>
    <header>
        {% include 'navbar.html' %}

        {% include 'alert.html' %}
    </header>
    <main>
        {% block main %} {% endblock %}
    </main>

    <footer class="text-center fixed-bottom mb-0 p-1 text-white bg-custom">
        © 2019-{{ current_year }}; Tomasz Frydrychowicz
    </footer>
    {% block modal %} {% endblock %}

    {% include 'externalScripts.html' %}
    {% block javascript %} {% endblock %}
</body>

</html>